@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="main-movie">
        @if (Model.Any())
        {
            var mainMovie = Model.First();
            <div>
                <h2><a href="/movies/getmovie/@mainMovie.Id">@mainMovie.Name</a></h2>
                <a href="/movies/getmovie/@mainMovie.Id">
                    <img src="~/@mainMovie.ImagePath" alt="@mainMovie.Name" />
                </a>
                <p>@mainMovie.Genre</p>
            </div>
        }
    </div>

    <div class="small-movies">
        @foreach (var movie in Model.Skip(1))
        {
            <div class="small-movie">
                <div>
                    <h3><a href="/movies/getmovie/@movie.Id">@movie.Name</a></h3>
                </div>
                <a href="/movies/getmovie/@movie.Id">
                    <img src="~/@movie.ImagePath" alt="@movie.Name" />
                </a>
                <p>@movie.Genre</p>
            </div>
        }
    </div>

</body>
</html>
