@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>IMDb Rating</th>
                <th>Popularity</th>
                <th>Release Year</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td><a href="/movies/getmovie/@movie.Id"> @movie.Name </a></td>
                    <td><img src="~/@movie.ImagePath" alt="@movie.Name" style="max-width: 100px; max-height: 150px;" /></td>
                    <td>@movie.IMDbRating</td>
                    <td>@movie.Popularity</td>
                    <td>@movie.ReleaseYear</td>
                    <td>@movie.Genre</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>



